{% extends "base_template.html" %}
{% block content %}
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="90%">
                        <tr>
                           <td style="color: #000;">Hi {{username}},</td>
                        </tr>
                        <tr>
                           <td height="10"></td>
                        </tr>
                        <tr>
                            <td>
                                Use the following one-time password (OTP) to
                                sign in to your Family account. <br>
                                OTP will be valid only for 15 minutes.
                            </td>
                        </tr>
                        <tr>
                           <td height="15"></td>
                        </tr>
                        <tr>
                            <td>
                                <h2>{{ callback_token }}</h2>
                            </td>
                        </tr>
                        <tr>
                           <td height="15"></td>
                        </tr>

                        <tr>
                           <td height="15"></td>
                        </tr>
                        <tr>
                            <td>
                            Warm Regards,
                                <br>
                                <br>
                                The Family
                            </td>
                        </tr>
                     </table>
{% endblock %}
